absl-py==1.0.0
ale-py==0.7.4
astor==0.8.1
atari-py==0.2.6
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==1.6.0
gast==0.5.3
grpcio==1.44.0
gym==0.12.0
gym-notices==0.0.4
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.1
importlib-resources==5.4.0
joblib==1.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.6
mock==4.0.3
numpy==1.21.5
opencv-python==4.5.5.62
protobuf==3.19.4
pyglet==1.5.21
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==3.1.0
tqdm==4.62.3
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
zipp==3.7.0