graphviz==0.20.1 ; python_version >= "3.7"
matplotlib==3.5.3 ; python_version >= "3.7"
numpy==1.21.1 ; python_version >= "3.7"
opencv-python==4.6.0.66 ; python_version >= "3.7"
pandas==1.1.5 ; python_version >= "3.7"
scipy==1.6.1 ; python_version >= "3.7"
torch==1.10.2 ; python_version >= "3.7"
torchvision==0.11.3 ; python_version >= "3.7"
trustee==1.1.4 ; python_version >= "3.7"
